<div class="about-mod-aside">
    <div class="about-video">
        <div class="c-thumbnail-item d-card-hover">

            <a class="c-thumbnail-card J-pdMediaItem" href="https://cloud.tencent.com/document/product/1010"
               target="_blank" hotrep="product.yje.overview.about.aside.media">

                <div class="c-thumbnail-img">
                    <img src="https://mc.qcloudimg.com/static/img/b43aa57660525ebd16bae0ff1da69c86/image.png" alt="">
                    <div class="c-thumbnail-img-ctrl">
                        <div class="c-thumbnail-tips">产品简介</div>
                        <h3 class="c-thumbnail-tit">高级威胁检测系统产品文档</h3>
                    </div>
                </div>
                <div class="c-thumbnail-status-bar">

                    <div class="c-thumbnail-status-ctrl">
                        <i class="c-thumbnail-doc-icon"></i>
                        <span class="c-thumbnail-status-txt">文档</span>
                    </div>

                </div>
            </a>
        </div>

    </div>


</div>